<%- include("include/_header")  %> 

<main id="site-main">
    <div class="container">
                    
            <main>
                <div class="box-login">                    
                    
                    <div class="img-logo">
                        <img class="logoMartin" src="/img/logo.png" alt="">
                    </div>                    
                    
                    <div class="box-in">
                        <h3>Entre na sua conta</h3>    
                         
                        <form action="/dashboard" id="adminForm" method="GET">                            
                            <input type="text" name="email" placeholder="Digite seu usuario" id="adminLogin">                            
                            <input type="password" name="password" placeholder="Digite sua senha" id="adminPwd">                                              
                            <div class="boton-login">
                                <button type="submit" id="adminBtn">Login</button>
                                <!-- <a href="/dashboard">Ingresar</a> -->
                                
                            </div>
                        </form>                                                                   
                    </div>
                </div> <!--box login-->
            </main>
            
        
    </div>
</main>


<%- include("include/_footer")  %> 
