<%- include("include/_header")  %> 

<main id="site-main">
    <div class="container">
                    
            <main>
                <div class="box-login">                    
                    
                    <div class="img-logo">
                        <img class="logoMartin" src="/img/logo.png" alt="">
                    </div>                    
                    
                    <div class="box-in">
                        <h3>Entre na sua conta</h3>    
                          <form id="loginAuth" method="POST">                            
                            <input type="email" name="email" placeholder="Digite seu usuario" id="input_email" required>                            
                            <input type="password" name="password" placeholder="Digite sua senha" id="input_password" required>                                              
                            <div class="boton-login">
                                <button type="submit" id="enviar"><a href="/dashboard">Ingresar</a></button>
                                
                            </div>
                        </form>                                                                   
                    </div>
                </div> <!--box login-->
            </main>
            
        
    </div>
</main>


<%- include("include/_footer")  %> 
