<%- include("include/_header")  %> 

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add_user" class="border-shadow">
                <span class="text-gradient">Novo Cliente <i class="fas fa-user"></i></span>                
            </a>            
            <button class="border-shadow text-gradient downloadbt" onclick="generatePDF()">Descargar PDF <i class="fas fa-download"></i></button>
        </div>
        
        <div class="logo">
        <img class="logoMartin" src="/img/logo.png" alt="">
        </div>
       
        <!-- form handling -->
        <form action="/" method="POST">
            
            <div class="search-box">
                <input type="text" id="search" placeholder="Busca por nombre...">
                <a href="#" class="search-btn"></a>
                <i class="fas fa-search"></i>
            </div>

            <table id="fulltable" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                        <th>Taxa</th>
                        <th>Obs</th>
                        <th>Status</th>
                        <th>Ação</th>
                    </tr>
                </thead>
            <tbody>
               <%- include("include/_show") %> 
            </tbody>
        </table>
        </form>        
    </div>
</main>


<%- include("include/_footer")  %> 
