<%- include("include/_header")  %> 

<main id="site-main">
    <div class="container">
        
            <h1>Homepage</h1>

            <main>
                <div class="box-login">
                    <div class="box-logo">
                        <div class="img-logo">
                            <img class="logoMartin" src="/img/logo.png" alt="">
                        </div>
                    </div>
                    <div class="box-in">
                        <h3>entre na sua conta</h3>    
                          <form id="loginAuth" method="POST">                            
                            <input type="email" name="email" placeholder="Digite seu e-mail" id="email" required>                            
                            <input type="password" name="password" placeholder="Digite sua senha" id="password" required>                                              
                            <div class="boton-login">
                                <button type="submit" id="enviar">Login</button>
                                <a href="/dashboard">Login</a>
                            </div>
                        </form>                                                                   
                    </div>
                </div>
            </main>
            
        
    </div>
</main>


<%- include("include/_footer")  %> 
