<%- include("include/_header")  %> 

<main id="site-main">
    <div class="container app">
                    
        <div class="home">
            <h1>Home</h1>
            <a href="/logout">Logout</a>
        </div>
        
    </div>
</main>


<%- include("include/_footer")  %> 
